@tailwind base;
@tailwind components;
@tailwind utilities;


.marquee-container {
    overflow: hidden;
    white-space: nowrap; 
    position: relative;
  }
  
  .marquee-text {
    display: inline-block;
    animation: scroll-left 10s linear infinite; 
    padding-left: 100%; 
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
  